# Ignore target directories globally
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore Maven wrapper JAR but keep it in specific directories
!.mvn/wrapper/maven-wrapper.jar

# Eclipse/STS specific files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA specific files
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code specific files
### VS Code ###
.vscode/

# Ignore all JSON files in resources except for the ones explicitly listed
src/main/resources/*.json
